
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table th {
    padding: 10px;
}
table td {
    padding: 15px;
    border-top: 1px solid gray;
}
.image {
    border-radius: 50%;
}


    

  